# Ignore HTML and static folders
*.html linguist-vendored
templates/* linguist-vendored
static/* linguist-vendored

# Ignore LaTeX files and folders
*.tex linguist-detectable=false
docs/* linguist-detectable=false
report/* linguist-detectable=false
