# Ignore HTML and static folders
*.html linguist-vendored
templates/* linguist-vendored
static/* linguist-vendored

# Explicitly tell GitHub Linguist: no TeX here
*.tex linguist-detectable=false
*.ltx linguist-detectable=false
*.cls linguist-detectable=false
*.sty linguist-detectable=false
# Ignore .toc files from TeX language classification
*.toc linguist-detectable=false

